.projects {
    margin: 0 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

@media screen and (max-width: 800px) {
    .projects {
        grid-template-columns: 1fr;
    }
}