.error {
    height: 400px;
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.error h2 {
    font-size: 4rem;
    margin: 0;
}

.error p {
    margin-left: 0.6em;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.50);
    font-weight: 600;
    text-align: left;
}