.feature {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 62px;
  height: 20rem;
}

h1 {
  font-size: 3rem;
}

.subtitle {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.6);
}

.featureText {
  text-align: left;
  max-width: 50rem;
  height: 8rem;
  margin: 0 2rem;
}

.description {
  text-align: left;
  font-size: 2.2rem;
  font-weight: 600;
}

.developer {
  padding: 0.1rem 0.4rem;
  background-color: #00897b;
  color: #fff;
}

.Fab {
  width: 12px;
}

@media screen and (max-width: 900px) {
  .feature {
    height: 12rem;
  }

  .featureText > * {
    text-align: center;
  }

  h1 {
    font-size: 1.8rem;
  }

  .description {
    font-size: 1.1rem;
  }

  .subtitle {
    font-size: 1rem;
    /* width: 400px; */
  }

  .mobileContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20rem;
  }

  .mobileContainer > p {
    padding: 0;
  }
}
