.container {
    margin-left: 1rem;
    display: flex;
    
}

.container .toggle_button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.84);
}

.container .toggle_button span {
    justify-self: center;
    font-size: 1.5rem;
}

.toggle_button:focus {
    outline: none;
}

@media screen and (min-width: 600px) {
    .toggle_button {display: none}
}

@media screen and (max-width: 600px) {
    .toggle_button span {
        margin: 0;
    }
}