.container {
    margin-left: 2rem;
}

.container .toggle_button {
    height: 45px;
    width: 45px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    color: #000;
}

.toggle_button:focus {
    outline: none;
}

@media screen and (min-width: 600px) {
    .toggle_button {display: none}
}