.side_drawer {
    height: 100%;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    z-index: 200;
    transform: translateX(-110%);
    transition: transform 0.3s ease-out;
}

.side_drawer.open {
    transform: translateX(0);
}

.side_drawer ul {
    padding: 0;
    margin: 0;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.side_drawer li {
    margin: 0.5rem 0;
}

.side_drawer a {
    color: #282828;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.side_drawer a:hover,
.side_drawer a:active {
    color: #6e6e6e;
}