.footer {
    margin-top: 1rem;
    /* border-top: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 63px;
}

.icons a {
    margin: 0 5px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.84);
}

.icons a i {
    font-size: 1.5em;
}

/* .madeWith i {
    font-size: 1.5em;
    color: #61dafb;
    font-weight: 550;
} */

.icons {
    margin: 15px;
    display: flex;
}